<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ADVANCE_JAVA_7pm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>print hello</description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoController</display-name>
    <servlet-name>DemoController</servlet-name>
    <servlet-class>com.controller.DemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoController</servlet-name>
    <url-pattern>/democontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethods</display-name>
    <servlet-name>LifeCycleMethods</servlet-name>
    <servlet-class>com.controller.LifeCycleMethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethods</servlet-name>
    <url-pattern>/lm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethods2</display-name>
    <servlet-name>LifeCycleMethods2</servlet-name>
    <servlet-class>com.controller.LifeCycleMethods2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethods2</servlet-name>
    <url-pattern>/lm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserThread</display-name>
    <servlet-name>UserThread</servlet-name>
    <servlet-class>com.controller.UserThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserThread</servlet-name>
    <url-pattern>/userthread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employeecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/studentcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup</display-name>
    <servlet-name>Backup</servlet-name>
    <servlet-class>com.controller.Backup</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>D:\\Backups</param-value>
    </init-param>
    <init-param>
      <param-name>filepath1</param-name>
      <param-value>D:\\Backups</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup</servlet-name>
    <url-pattern>/backup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup2</display-name>
    <servlet-name>Backup2</servlet-name>
    <servlet-class>com.controller.Backup2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup2</servlet-name>
    <url-pattern>/backup2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.controller.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.controller.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/secondservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DEmo12</display-name>
    <servlet-name>DEmo12</servlet-name>
    <servlet-class>com.controller.DEmo12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DEmo12</servlet-name>
    <url-pattern>/DEmo12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>com.controller.Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/Demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.controller.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.controller.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.controller.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo1</display-name>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>com.controller.session.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/sessiondemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SesssionDemo2</display-name>
    <servlet-name>SesssionDemo2</servlet-name>
    <servlet-class>com.controller.session.SesssionDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesssionDemo2</servlet-name>
    <url-pattern>/SesssionDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo3</display-name>
    <servlet-name>SessionDemo3</servlet-name>
    <servlet-class>com.controller.session.SessionDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo3</servlet-name>
    <url-pattern>/SessionDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session3</display-name>
    <servlet-name>Session3</servlet-name>
    <servlet-class>com.controller.session.Session3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session3</servlet-name>
    <url-pattern>/Session3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session4</display-name>
    <servlet-name>Session4</servlet-name>
    <servlet-class>com.controller.session.Session4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session4</servlet-name>
    <url-pattern>/Session4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Application</display-name>
    <servlet-name>Application</servlet-name>
    <servlet-class>com.controller.session.Application</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Application</servlet-name>
    <url-pattern>/Application</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>App2</display-name>
    <servlet-name>App2</servlet-name>
    <servlet-class>com.controller.session.App2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>App2</servlet-name>
    <url-pattern>/App2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.controller.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Session5</display-name>
    <servlet-name>Session5</servlet-name>
    <servlet-class>com.controller.session.Session5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session5</servlet-name>
    <url-pattern>/Session5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeltToJsp</display-name>
    <servlet-name>ServeltToJsp</servlet-name>
    <servlet-class>com.controller.ServeltToJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltToJsp</servlet-name>
    <url-pattern>/servelttojsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Formcontroller</display-name>
    <servlet-name>Formcontroller</servlet-name>
    <servlet-class>com.controller.Formcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formcontroller</servlet-name>
    <url-pattern>/formcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistationController</display-name>
    <servlet-name>UserRegistationController</servlet-name>
    <servlet-class>com.controller.UserRegistationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistationController</servlet-name>
    <url-pattern>/UserRegistationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBeanController</display-name>
    <servlet-name>UserBeanController</servlet-name>
    <servlet-class>com.controller.UserBeanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBeanController</servlet-name>
    <url-pattern>/UserBeanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteController</display-name>
    <servlet-name>BookDeleteController</servlet-name>
    <servlet-class>com.controller.BookDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteController</servlet-name>
    <url-pattern>/BookDeleteController</url-pattern>
  </servlet-mapping>
</web-app>