<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ADVANCE_JAVA_7pm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>print hello</description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoController</display-name>
    <servlet-name>DemoController</servlet-name>
    <servlet-class>com.controller.DemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoController</servlet-name>
    <url-pattern>/democontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethods</display-name>
    <servlet-name>LifeCycleMethods</servlet-name>
    <servlet-class>com.controller.LifeCycleMethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethods</servlet-name>
    <url-pattern>/lm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethods2</display-name>
    <servlet-name>LifeCycleMethods2</servlet-name>
    <servlet-class>com.controller.LifeCycleMethods2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethods2</servlet-name>
    <url-pattern>/lm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserThread</display-name>
    <servlet-name>UserThread</servlet-name>
    <servlet-class>com.controller.UserThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserThread</servlet-name>
    <url-pattern>/userthread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employeecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/studentcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup</display-name>
    <servlet-name>Backup</servlet-name>
    <servlet-class>com.controller.Backup</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>D:\\Backups</param-value>
    </init-param>
    <init-param>
      <param-name>filepath1</param-name>
      <param-value>D:\\Backups</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup</servlet-name>
    <url-pattern>/backup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup2</display-name>
    <servlet-name>Backup2</servlet-name>
    <servlet-class>com.controller.Backup2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup2</servlet-name>
    <url-pattern>/backup2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.controller.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.controller.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/secondservlet</url-pattern>
  </servlet-mapping>
</web-app>